<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav> <%= link_to "Home", root_path %> |
      <% if current_user %>
        <%= link_to "Log Out", '/logout', method: :delete %>
      <% else %>
        <%= link_to 'Log In', login_path %><br><br>
        <%= button_to 'Create New User', '/register', method: :get %>
      <% end %>
    </nav>
    <% flash.each do |name, msg| %>
    <div>
      <%= content_tag :div, msg, class: name %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
